doctype html
html
  head
    title= "Statify | Spotify User Statistics"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto') 
  body
    header
      h1 Statify
      p Statistics about your musical habits on Spotify.
      
    block content
