doctype html
html
  head
    title= "Statify | Statistics about your musical habits on Spotify."
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/html5audio.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    script(src="/js/html5audio.js", type="text/javascript")
  body
    block content
