doctype html
html
  head
    title= "Statify | Spotify User Statistics"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Statify
      p A Spotify user statistics tool.
      
    block content
