body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #222;
}
a {
  color: #00b7ff;
}
header {
  margin: 10px 0;
}
header h1 {
  font-size: 3em;
  margin: 0;
}
header p {
  margin: 0;
}
textarea {
  border-radius: 5px;
  border-color: #1ed760;
  outline: none;
  padding: 7px;
  font-size: 1em;
  resize: vertical;
  width: 50%;
}
form.input-form span.label textarea {
  display: block;
}
form.input-form input {
  padding: 10px;
  background: #1ed760;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  transition: 0.3s;
  margin: 5px 0;
}
form.input-form input:hover {
  background: #1fef69;
  cursor: pointer;
  transition: 0.3s;
}
div.track {
  display: inline-block;
}
div.track {
  border: 1px #ddd solid;
  background: #eee;
  margin: 5px;
}
div.track .track-image {
  display: inline-block;
  margin: 0;
}
div.track .track-info {
  margin-top: 22px;
  padding: 0 10px;
  float: right;
  display: inline-block;
}
div.track .track-info p {
  margin: 0;
}
div.track .track-info p.track-name {
  font-weight: bold;
}
div.track .track-info p.track-artists {
  font-style: italic;
}
